/*--------------------strip3------------------*/
.strip3 {
  padding: 0;
  color: #fff;
  margin-bottom: 0px;
}

@media (max-width: 991px) {
  .strip3 {
    margin-bottom: 0px;
  }
}

ul.strip3-list {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: no-wrap;
  margin: 0;
}

@media (max-width: 991px) {
  ul.strip3-list {
    padding-left: 0;
    gap: 20px;
  }
}

ul.strip3-list li {
  padding: 0 22px;
  position: relative;
  font-size: 20px;
  line-height: 28px;
  color: #fff;
  text-align: center;
  list-style: none;
  margin: 1rem 0;
}

ul.strip3-list li:nth-child(1):before {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px 4px 0;
  width: 10px;
  height: 10px;
  background: #13ac41;
  border-radius: 50%;
  content: "";
  animation: fade 1s ease-in-out infinite;
}

@media (max-width: 991px) {
  ul.strip3-list li {
    font-size: 14px;
    line-height: 20px;
    padding: 0;
  }

  ul.strip3-list li:nth-child(1):after {
    display: block !important;
    height: 100%;
    top: 0;
    right: -20px;
  }
}

ul.strip3-list li::after {
  content: "";
  position: absolute;
  right: 0;
  top: 6px;
  height: 18px;
  background: #e6dede;
  width: 2px;
}

ul.strip3-list li:last-child::after {
  display: none;
}

@keyframes fade {
  0% {
    opacity: 100%;
  }

  50% {
    opacity: 30%;
  }

  70% {
    opacity: 100%;
  }

  100% {
    opacity: 100%;
  }
}

.hourglass {
  display: inline-block;
  vertical-align: middle;
  margin: -5px 8px 0 0;
  animation: rotateP 2.5s ease-in-out forwards infinite;
  max-width: 18px;
  filter: invert(1);
}

@keyframes rotateP {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(180deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.clock {
  margin: 0 8px -5px 0;
  display: inline-block;
  animation: fade 1s ease-in-out infinite;
}