#faq {
    background-color: linear-gradient(45deg, var(--primary-color-light), var(--primary-color));
    color: white;
}

#faq .container {
    background-image: linear-gradient(45deg, var(--primary-color), var(--primary-color)) !important;
    max-width: 1000px;
}

#faq .accordion {
    position: relative;
    z-index: 2;
}

#faq .accordion-item {
    border-radius: 0.5em;
    margin-bottom: 0.25em;
    border: 0;
}

#faq .accordion-button {
    font-family: "Rubik", sans-serif;
    font-weight: bold;
    border-radius: 0.25em;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
}

#faq .accordion-body {
    padding-bottom: 1.5em;
}

#faq {
    background: none;
    padding-left: 10px;
    padding-right: 10px;
}

#faq .container {
    background-image: linear-gradient(45deg, var(--primary-color), var(--secondary-color));
    padding: 1rem;
    border-radius: 2em;
    border: 1px solid var(--third-color);
}

@media (max-width: 991px) {
    #faq .container {
        padding: 1em;
    }
}

#faq .accordion-item,
#faq .accordion-button {
    border-radius: 200px;
}

#faq .accordion-item {
    border-radius: 2em;
}

@media (max-width: 991px) {

    #faq .accordion-item,
    #faq .accordion-button {
        border-radius: 0px;
    }
}

#faq .accordion-item:focus,
#faq .accordion-button:focus {
    box-shadow: none;
}

/* #faq .accordion-body {
    background-color: #fff;
    padding-top: 4em !important;
    margin-top: -3em;
    border-radius: 2em 2em 2em 2em;
} */

@media (max-width: 991px) {
    #faq .accordion-body {
        border-radius: 0;
    }
}

#faq .accordion-button:not(.collapsed) {
    color: var(--bs-accordion-btn-color);
}